.footer{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ccc;
    padding: 15px 0;
}
.footer ul li{
    display: inline-block;
    margin-left: 20px;
    list-style: none;
}

@media (max-width: 700px) {
    .footer{
        flex-direction: column;
        text-align: center;
    }
    .footer ul li{
        display: block;
        margin: 10px 0;
    }
}