.campus{
    margin: 80px auto;
    width: 90%;
    text-align: center;
}
.gallery {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;  /* Changed from 40% to 60px */
    display: flex;
    /* padding-bottom: 20px;  <- You can likely remove this too */
}
.gallery img{
    width: 23%;
    border-radius: 10 px;
}

@media (max-width: 800px) {
    .gallery{
        flex-wrap: wrap;
    }
    .gallery img{
        width: 48%;
        margin-bottom: 25px;
    }
}
